{% extends 'base.html' %}
{% block head %}
<title>Home</title>
{% endblock %}
{% block body %}
    <br>
    <main role="main">
        <div class="jumbotron">
          <div class="col-sm-8 mx-auto">
            <h1>Welcome to CRUD app</h1>
            <p>This simple CRUD app allows users to do all the simple actions you would expect on a forum/blog. It serves as my personal, growing, documentation for <code>Flask, SQLite, Bootstrap, and Heroku deployment.</code> Checkout the documentation on <a href="https://github.com/MaxHarlan206/Flask-CRUD-Basics">GitHub</a></p>
            <p>
              <a class="btn btn-primary" href="/posts" role="button">Create a post &raquo;</a>
            </p>
          </div>
        </div>
    </main>
{% endblock %}
