{% extends 'base.html' %}
{% block head %}
<title>Posts</title>
{% endblock %}
{% block body %}
<br>
<h2>Create New Blog Post</h2>
<form action="/posts" method="POST">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Author</span>
      </div>
      <input name="author" id="author" type="text" class="form-control" placeholder="Enter your name" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Title</span>
      </div>
      <input name="title" id="title" type="text" class="form-control" placeholder="Enter a title" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Post content</span>
      </div>
        <textarea name="content" id="content" class="form-control" aria-label="With textarea" placeholder="Write something awesome"></textarea>
    </div>
    <br>
    <input class="btn btn-success" type="submit" value="POST" role="button">
</form>
<hr>
<H1>All Posts</H1>
<hr>
{% for post in posts %}
    <h2>{{ post.title }}</h2>
    {% if post.author %}
        <small>Written by {{ post.author }} on {{ post.date_posted }}</small>
    {% else %}
        <small>Written by an unknown author on {{ post.date_posted }}</small>
    {% endif %}
    <p>{{ post.content }}</p>
    <a class="btn btn-danger" href="/posts/delete/{{post.id}}" role="button">DELETE</a>
    <a class="btn btn-primary" href="/posts/edit/{{post.id}}" role="button">EDIT</a>
    <hr>
{% endfor %}
{% endblock %}
